services:
  db:
    image: postgres:16
    container_name: recipe_db
    restart: always
    environment:
      POSTGRES_USER: recipe_user
      POSTGRES_PASSWORD: recipe_pw
      POSTGRES_DB: recipe_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

